.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
    text-align: center;
}

.homepage-scroll-container {
	position: absolute;
	width: 100px;  
	top: 550px; 
	left: 50%;  
	margin-left: -50px;
	text-align: center; 
}

.homepage-scroll-arrow {
	width: 50px; 
}
